@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poetsen+One&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --yellow: rgb(255, 234, 6);
  --active: rgba(59, 58, 58, 0.679);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.butn{
  padding: 0.9rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.2rem;
  border-radius: 0.5rem;
}

.login_btn{
  background-color: transparent;
  border-radius: 0.5rem;
  border: 3px solid var(--yellow);
  color: var(--yellow);
}

.login_btn:hover{
  background-color: var(--yellow);
  color: white;
}

.signup_btn{
  background-color: var(--yellow);
  border-radius: 0.5rem;
  border: 3px solid var(--yellow);
  color: white;
}
